.table-fixed {
  width: 100%;
}
.table-fixed tbody {
  width: 100%;
  height: 740px;
  overflow-y: auto;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed thead tr th,
.table-fixed tbody td {
  float: left;
}
