{% extends 'hikster-admin/base_sidebar_authenticated.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load render_bundle from webpack_loader %}

{% block extra_styles %}
    <style>

    .loader {
      border: 10px solid #f3f3f3; /* Light grey */
      border-top: 10px solid #529214;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    .loader {
      width: 50px;
      height: 50px;
    }
    </style>
{% endblock extra_styles %}


{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'hikster-admin:index' %}">{% trans 'Hikster Admin' %}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'hikster-admin:organization' organization_id=organization.id%}">
            {{ organization.name }}
        </a>
    </li>
    <li class="breadcrumb-item">
        {% trans "Trails" %}
    </li>
{% endblock %}

{% block content %}
{{ geo_json|json_script:"geojson-data" }}
{{ trails|json_script:"trails-data" }}
{{ locations|json_script:"locations-data" }}
{{ activities|json_script:"activities-data" }}
{{ selected_activity|json_script:"selected-activity-data" }}
{{ selected_location|json_script:"selected-location-data" }}
{{ poi_categories|json_script:"poi-categories-data" }}

<div id="trail-list-component" class="row location-list">
  <div class="col-lg-5">
    <div class="row">

        <div class="col-12 mb-2">
            <a
              href="{% url 'hikster-admin:trail-new' organization_id=organization.id %}"
              class="btn btn-sm btn-success"
            >
                {% trans "New" %}
            </a>

            <button :disabled="loading" v-show="hasSelected" class="btn btn-sm btn-danger" @click="deleteTrails">
                {% trans "Delete Selected" %}
            </button>

            <div class="btn-group float-right">
                <button type="button" class="btn btn-outline-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {[ selectedActivity.name ]}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button
                      v-for="activity in activityChoices"
                      class="dropdown-item pointer"
                      @click="selectActivity(activity)"
                      :key="activity.id"
                    >
                        {[ activity.name ]}
                    </button>
                </div>
            </div>
            <div class="btn-group float-right mr-2">
                <button type="button" class="btn btn-outline-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {[ selectedLocation.name ]}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button
                      v-for="location in locationChoices"
                      class="dropdown-item pointer"
                      @click="selectLocation(location)"
                      :key="location.location_id"
                    >
                        {[ location.name ]}
                    </button>
                </div>
            </div>
        </div>

    <div v-if="loading" class="col-12 d-flex justify-content-center">
        <div class="loader mt-5"></div>
    </div>

      <div id="scrollable-container" class="col-12 pt-3 scrollable-container d-none">
        <div v-show="!loading" class="row header-row">
          <div class="col-2 text-center">{% trans "Action" %}</div>
          <div @click="sortData('name')" class="col-5 sortable">
            {% trans "Name" %}
            <hk-sort-icon v-if="hasTrails" :sort-by="sortBy" header="name" />
          </div>
          <div @click="sortData('last_modified')" class="col-3 sortable">
            {% trans "Last Modified" %}
            <hk-sort-icon v-if="hasTrails" :sort-by="sortBy" header="last_modified" />
          </div>
          <div class="col-2 text-center">{% trans "Online" %}</div>
        </div>
        <div v-show="!loading" class="scrollable content row pt-1">
          <div id="scrollable-content" class="col-12">
            <div
              v-for="trail in trails"
              @mouseover="highlightTrail(trail.trail_id)"
              @mouseout="_handleHighlightOff"
              :class="getRowClass(trail.trail_id)"
              :key="trail.trail_id"
              :id="'trail-' + trail.trail_id"
            >
              <div class="col-2 pt-1 d-flex justify-content-center">
                <input
                  v-model="trail.selected"
                  type="checkbox"
                  class="pointer"
                />
              </div>
              <div class="col-5">
                <a :href="trail.trail_id">
                  {[ trail.name ]}
                </a>
              </div>
              <div class="col-3 d-flex">
                <a :href="trail.trail_id">
                  {[ trail.last_modified|dateFormat ]}
                </a>
              </div>
              <div class="col-2 text-center online">
                <a :href="'/hikes/' + trail.trail_id" target="_blank">
                  <hk-globe-icon></hk-globe-icon>
                </a>
              </div>
            </div>
          </div>
          <div v-if="!hasTrails" class="col-12">
            <div class="alert alert-secondary text-center" role="alert">
              {% trans "No trail to display" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 map-container">
    <div id="map" class="map"></div>
  </div>
</div>
{% endblock content %}

{% block js_before %}
  <script src="{% static 'libs/popper.min.js' %}"></script>
{% endblock js_before %}

{% block body_extra_js %}
    <script>
    var allActivitiesLabel = '{% trans "All activities" %}';
    var allLocationsLabel = '{% trans "All locations" %}';
    </script>
    {% include "website/components/map-scripts.html" %}
    {% render_bundle "admin_trail_list" %}
{% endblock body_extra_js %}
